{% extends 'main_page/home.html' %}


{% block content %}

<b> Выбрав нужный Вам документ необходимо перевести на карту 2204 3101 5755 7433 - 100 рублей за любой один документ. Прислать на электронную почту ntdl@yandex.ru информацию о документе (обозначение или название) и платеже.
    В течении 3 дней Вам будет выслано письмо с ссылкой на документ.
    Письмо попадая на почтовый сервер скачает выбранный Вами документ в режиме реального времени.
    <br>
    <br>
    ВНИМАНИЕ: Администрация не несет ответственности за сбои в доставке документов, происходящие по независящим от нее
    причинам (например: ограниченные технические возможности заказчика по приему электронной почты). В случае
    невозможности выполнения Вашего заказа, деньги будут возвращены на указанный мобильный телефон или переведены на
    указанный счет.

    <br>
    <br>
    <br>
    <br>

    Having selected the document you need, you need to transfer 100 rubles for any one document to the card 2204 3101 5755 7433. Send information about the document (designation or name) and payment to e-mail ntdl@yandex.ru.
    Within 3 days, you will receive a letter with a link to the document.
    The letter, when it gets to the mail server, will download the document you selected in real time.
    <br>
    <br>
    ATTENTION: The administration is not responsible for failures in the delivery of documents that occur due to reasons beyond its control (for example: limited technical capabilities of the customer to receive e-mail).
    If it is impossible to fulfill your order, the money will be returned to the specified mobile phone or transferred to the specified account.</b>

{% endblock content %}