{% extends 'main_page/home.html' %}


{% block content %}

<b>Если Вы не нашли на нашем сайте нужный документ, то можете заказать его поиск. Для этого необходимо оплатить через
    систему QIWI Кошелек (на счет 9060384310), WebMoney (на счет 640698430330) или Яндекс Деньги (на счет
    410011719612484) 50 рублей за любой один документ. Прислать на электронную почту ntdl@yandex.ru заказ с информацией
    о заказанном документе (обозначение или название) и платеже (номер квитанции или комментарии). В течении 5 дней Вам
    будет выслано письмо с ссылкой на заказанный документ. Письмо попадая на почтовый сервер скачает заказанный Вами
    документ в режиме реального времени.
    <br>
    <br>
    ВНИМАНИЕ: Администрация не несет ответственности за сбои в доставке документов, происходящие по независящим от нее
    причинам (например: ограниченные технические возможности заказчика по приему электронной почты). В случае
    невозможности выполнения Вашего заказа, деньги будут возвращены на указанный мобильный телефон или переведены на
    указанный счет.</b>

{% endblock content %}