{% extends 'main_page/home.html' %}


{% block content %}

<b> Если Вы не нашли на нашем сайте нужный документ, то можете заказать его поиск.
    Для этого необходимо оплатить через систему QIWI Кошелек (на счет 9060384310), WebMoney (на счет 640698430330) или Яндекс Деньги (на счет 410011719612484) 100 рублей за любой один документ.
    Прислать на электронную почту ntdl@yandex.ru заказ с информацией о заказанном документе (обозначение или название) и платеже (номер квитанции или комментарии).
    В течении 5 дней Вам будет выслано письмо с ссылкой на заказанный документ. Письмо попадая на почтовый сервер скачает заказанный Вами документ в режиме реального времени.
    <br>
    <br>
    ВНИМАНИЕ: Администрация не несет ответственности за сбои в доставке документов, происходящие по независящим от нее
    причинам (например: ограниченные технические возможности заказчика по приему электронной почты). В случае
    невозможности выполнения Вашего заказа, деньги будут возвращены на указанный мобильный телефон или переведены на
    указанный счет.
    <br>
    <br>
    <br>
    <br>
    If you did not find the required document on our website, you can order its search.
    To do this, you need to pay through the QIWI Wallet system (to account 9060384310), WebMoney (to account 640698430330) or Yandex Money (to account 410011719612484) 100 rubles for any one document.
    Send an order to ntdl@yandex.ru with information about the ordered document (designation or name) and payment (receipt number or comments). Within 5 days you will receive a letter with a link to the ordered document.
    When the letter gets to the mail server, it will download the document you ordered in real time.
    <br>
    <br>

    ATTENTION: The administration is not responsible for failures in the delivery of documents that occur due to reasons beyond its control (for example: limited technical capabilities of the customer to receive e-mail).
    If it is impossible to fulfill your order, the money will be returned to the specified mobile phone or transferred to the specified account.</b>

{% endblock content %}