{% extends 'main_page/home.html' %}


{% block content %}

<b>Информационный ресурс ntdl.ru является общедоступным для пользователей и осуществляет свою деятельность с соблюдением
    действующего законодательства РФ. Просим Вас обратить внимание на то, что у нас не хранится ни одного файла, который
    нарушал бы Российское законодательство (или законодательство других стран) об авторском праве. Наш сайт — это всего
    лишь набор ссылок из других открытых источников Интернета. Администрация ресурса отрицательно относится к нарушению
    авторских прав на информационном ресурсе ntdl.ru.

    Администрация ресурса применяет превентивные меры по пресечению нарушений авторских прав с использованием
    предоставленных с помощью ресурса ntdl.ru услуг. Поэтому, если Вы являетесь правообладателем исключительных
    имущественных прав, включая:
    <br>
    1. исключительное право на воспроизведение;
    <br>
    2. исключительное право на распространение;
    <br>
    3. исключительное право на публичный показ;
    <br>
    4. исключительное право на доведение до всеобщего сведения.
    <br>
    и Ваши права тем или иным образом нарушаются с использованием данного ресурса, мы просим незамедлительно сообщать
    письмом (в электронном виде) на ntdl@yandex.ru. Администрация готова оказать Вам содействие и удалить с сайта
    соответствующие ссылки.</b>

<br><br><br><br><br>


    <b>The information resource ntdl.ru is publicly available to users and operates in compliance with the current legislation of the Russian Federation.
        Please pay attention to the fact that we do not store any file that would violate the Russian legislation (or the legislation of other countries) on copyright.
        Our site is just a collection of links from other open Internet sources. The administration of the resource has a negative attitude towards copyright infringement on the information resource ntdl.ru.
        The administration of the resource takes preventive measures to suppress copyright infringements using the services provided with the help of the ntdl.ru resource.
        Therefore, if you are the owner of exclusive property rights, including:<br>
        1. exclusive right to reproduce;<br>
        2. exclusive right to distribute;<br>
        3. exclusive right to public display;<br>
        4. the exclusive right to communicate to the public.<br>
        and your rights are violated in one way or another using this resource, we ask you to immediately report by letter (in electronic form) to ntdl@yandex.ru.
        The administration is ready to assist you and remove the relevant links from the site.</b>
{% endblock content %}