{% extends 'main_page/home.html' %}


{% block content %}

<b>Информационный ресурс ntdl.ru является общедоступным для пользователей и осуществляет свою деятельность с соблюдением
    действующего законодательства РФ. Просим Вас обратить внимание на то, что у нас не хранится ни одного файла, который
    нарушал бы Российское законодательство (или законодательство других стран) об авторском праве. Наш сайт — это всего
    лишь набор ссылок из других открытых источников Интернета. Администрация ресурса отрицательно относится к нарушению
    авторских прав на информационном ресурсе ntdl.ru.

    Администрация ресурса применяет превентивные меры по пресечению нарушений авторских прав с использованием
    предоставленных с помощью ресурса ntdl.ru услуг. Поэтому, если Вы являетесь правообладателем исключительных
    имущественных прав, включая:
    <br>
    1. исключительное право на воспроизведение;
    <br>
    2. исключительное право на распространение;
    <br>
    3. исключительное право на публичный показ;
    <br>
    4. исключительное право на доведение до всеобщего сведения.
    <br>
    и Ваши права тем или иным образом нарушаются с использованием данного ресурса, мы просим незамедлительно сообщать
    письмом (в электронном виде) на ntdl@yandex.ru. Администрация готова оказать Вам содействие и удалить с сайта
    соответствующие ссылки.</b>

{% endblock content %}